body, html{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    
}
li, a{
    font-size: 22px;
    color: black;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background: #00C9D2;
}
.logotipo{
    color: rgb(247, 236, 236);
    font-size: 35px;
    font-weight: bold;
}
.nav-links{
    list-style: none;
}
.nav-links li {
    display: inline-block;
    padding: 0 20px;
}
.nav-links li a:hover{
    background: #FCFEF5;
    color: #1A081F;
    border-radius: 10px;
    padding: 5PX 15px;
}
.card {
  width: 500px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #ffffff;
}
.card-texto{
    margin: 10px;
    padding: 10px;
    background: #31D5DE;
    display: flex;
    justify-content: center;
}
.card-texto a{
    color: #fff;
}
.card-texto a:hover{
    color: #fff;
    color: #1A081F;
    font-weight: bold;
}
.card img {
  width: 100%;
  height: auto;
}
@media (max-width:800px){
    li, a{
        font-size: 15px;
        color: black;
        text-decoration: none;
    }
    .logotipo{
    color: black;
    font-size: 22px;
    font-weight: bold;
}
}