
    <header>
        <span class="logotipo">
            Cadastro único
        </span>
    <nav class="navbar" >
        <ul class="nav-links">
            <li>
                <a href="{{url_for('home')}}" href="#">
                   <i class="fa-solid fa-house"></i>
                   <span>Inicio</span>
                </a>
                
            </li>
            <li >
                <a href="{{url_for('agendar')}}"  aria-current="page" >
                   <i class="fa-solid fa-calendar"></i>
                   <span>Agendar</span>
                </a>
                
            </li>

            <li>
                <a href="{{url_for('comprovante')}}">
                   <i class="fa-solid fa-print"></i>
                   <span>Comprovante</span>
                </a>
                
            </li>

            <li >
                <a href="{{url_for('relatorio')}}" >
                <i class="fa-solid fa-file"></i>
                   <span>Relatorio</span>
                </a>
                
            </li>
            
             <li >
                <a href="">
                    <i class="fa-solid fa-user"></i>
                    <span>Login</span>
                </a>
                
            </li>

        </ul>
        
    </nav>
</header>